body{
  display: flex;
  justify-content: center;
  /* horazontal center */
  align-items: center;
  /* vertical center  must fix hight so it can be centered*/
  height: 100vh;
  margin: 0;
  background-color: #f1f1f1;
}
  form{
    width: 450px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.12);
     -webkit-box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.12);
     -moz-box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.12)
  }
  form h1{
    margin: 0;
    margin-bottom: 1em;
    font-weight: 400;
  }
  label {
  display:block;
  font-size: 0.8em;
  font-weight:700;
  color: rbg(103,103,103);
  margin-bottom: 2px;
  }
  .required::before{
    content: "*";
    display: inline-block;
    padding-right: 2px;
    color:#ff0000
  }
  .row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  .col{
    flex-grow: 1;
    /* this will help the coloms also be 50% like the rows */
  }
  .row--meeting .col{
    flex-grow: 0;
  }
  .row--meeting label{
    display:inline-block;  
  }
  .row--newsletter label{
    display: inline-block;
  }
  .row-submit {
    margin-top: 30px;
    margin-bottom: 0;
  }
  button {
    display: block;
    background-color: rgb(16, 117, 225);
    border: none;
    color: #fff;
    padding: 8px, 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px soild rgb(192,192,192);
    border-radius: 3px;
    font-size: 16px;
    padding: 3px 6px
  }
